@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-inter: 'Inter', sans-serif;
  --font-balsamiq: 'Balsamiq Sans', cursive;
}

ion-tab-bar {
  --background: #e4e4e4;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 12px !important;

  height: 50px;
  width: 50%;
  padding-top: 5px;
  padding-bottom: 5px;

  bottom: 20px;
  position: relative;
  margin: 0 auto !important;
  border-top: none;
}

ion-tab-button {
  border-radius: 16px !important;
}

.custom-ion-button {
  --background: #e4e4e4;
  --background-hover: #e4e4e4;
  --background-activated: #8e8e8e;
  --background-focused: #8e8e8e;

  --box-shadow: none !important;
  --border-radius: 12px !important;

  width: auto;
  aspect-ratio: 1;
}

ion-button::part(native) {
  padding: 10px !important;
}

ion-searchbar {
  --background: #f1f1f1 !important;
  --box-shadow: none !important;
  --border-radius: 12px !important;

  --icon-color: #b2b2b2 !important;
  --placeholder-color: #b2b2b2 !important;
  --clear-button-color: #b2b2b2 !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.searchbar-input-container {
  border-radius: 12px;
  border: 2px solid #000;
}
