@import 'tailwindcss';

ion-tab-bar {
  --background: #e4e4e4;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 12px !important;

  height: 50px;
  width: 50%;
  padding-top: 5px;
  padding-bottom: 5px;

  bottom: 20px;
  position: relative;
  margin: 0 auto !important;
  border-top: none;
}

ion-tab-button {
  border-radius: 16px !important;
}
