/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
:root {
  --ion-background-color: #fff;
  --ion-text-color: #000;
}

ion-button {
  --background: #003049;
  --background-hover: #004468;
  --background-activated: #004468;
  --border-radius: 25px;
  text-transform: uppercase;
  font-family: 'Balsamiq Sans', cursive;
  font-size: 1rem;
  font-weight: 700;

  &::part(native) {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  &.button-small {
    font-size: 14px;
  }
}

.ion-color-secondary {
  --ion-color-base: #bde0fe !important;
  --ion-color-contrast: #003049 !important;
  --ion-color-shade: #7dc3ff !important;
}

.ion-color-tertiary {
  --ion-color-base: #fff !important;
  --ion-color-contrast: #003049 !important;
  --ion-color-shade: #dfdfdf !important;
}

.ion-color-success {
  --ion-color-base: #fff !important;
  --ion-color-contrast: #01b34e !important;
  --ion-color-shade: #dfdfdf !important;
}

ion-toolbar {
  --background: #a2d2ff;
  --border-style: none;
  --padding-start: 12px;
  --padding-end: 12px;
}

ion-back-button {
  --color: #000;
}

ion-content {
  &.bg-\[\#A2D2FF\] {
    --background: #a2d2ff;
  }
}

ion-item {
  --padding-start: 12px;
  --padding-end: 0;
  --border-color: rgba(#003049, 0.3);

  &.bg-\[\#A2D2FF\] {
    --background: #a2d2ff;
  }
}

ion-input.ios,
ion-input.md {
  font-size: 18px;
  min-height: 48px;
  --padding-end: 16px;
  --padding-start: 16px;
  --placeholder-opacity: 0.3;
}

ion-textarea {
  &.textarea-disabled {
    opacity: 1 !important;

    label {
      display: none !important;
    }
  }
}

.sc-ion-buttons-ios-s ion-button:not(.button-round) {
  --border-radius: 100px;
  --color: #fff;
  margin: 0;
  font-size: 14px;
}
